/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

:root {
		/* Color Theme Swatches in Hex */
	/* Retro-futuristic-synthwave-wireframe-background-3d-rendering-of-1980s-1-hex { color: #400D2E; }
	.Retro-futuristic-synthwave-wireframe-background-3d-rendering-of-1980s-2-hex { color: #BF3FAA; }
	.Retro-futuristic-synthwave-wireframe-background-3d-rendering-of-1980s-3-hex { color: #8C4688; }
	.Retro-futuristic-synthwave-wireframe-background-3d-rendering-of-1980s-4-hex { color: #B259D9; }
	.Retro-futuristic-synthwave-wireframe-background-3d-rendering-of-1980s-5-hex { color: #3A2073; } */


	/* Color Theme Swatches in RGBA */
	/* .Retro-futuristic-synthwave-wireframe-background-3d-rendering-of-1980s-1-rgba { color: rgba(63, 12, 45, 1); }
	.Retro-futuristic-synthwave-wireframe-background-3d-rendering-of-1980s-2-rgba { color: rgba(191, 63, 169, 1); }
	.Retro-futuristic-synthwave-wireframe-background-3d-rendering-of-1980s-3-rgba { color: rgba(140, 70, 135, 1); }
	.Retro-futuristic-synthwave-wireframe-background-3d-rendering-of-1980s-4-rgba { color: rgba(178, 88, 216, 1); }
	.Retro-futuristic-synthwave-wireframe-background-3d-rendering-of-1980s-5-rgba { color: rgba(58, 32, 114, 1); } */


	--color_1: #400D2E;
	--color_2: #BF3FAA;
	--color_3: #8C4688;
	--color_4: #B259D9;
	--color_5: #3A2073;

	--color1: 63, 12, 45;
	--color2: 140, 70, 135;
	--color3: 140, 70, 135;
	--color4: 178, 88, 216;
	--color5: 58, 32, 114;
	--color6: 211, 162, 232;


	--accent: #8C4688;
	--accent-dark: #000d8a;
	--black: 15, 18, 25;
	--gray: 96, 115, 159;
	--gray-light: 229, 233, 240;
	--gray-dark: 34, 41, 57;
	--gray-gradient: rgba(var(--color6), 50%), #fff;
	--gray-gradient1: rgba(var(--color5), 40%), #fff;
	--box-shadow: 0 2px 6px rgba(var(--color2), 25%), 0 8px 24px rgba(var(--color2), 33%),
		0 16px 32px rgba(var(--color2), 33%);
}
@font-face {
	font-family: 'Atkinson';
	src: url('/fonts/atkinson-regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Atkinson';
	src: url('/fonts/atkinson-bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
body {
	font-family: 'Atkinson', sans-serif;
	margin: 0;
	padding: 0;
	text-align: left;
	background-color: rgba(var(--color6), 20%);
	background-size: 100% 600px;
	word-wrap: break-word;
	overflow-wrap: break-word;
	color: rgb(var(--gray-dark));
	font-size: 20px;
	line-height: 1.7;
}
main {
	width: 720px;
	max-width: calc(100% - 2em);
	margin: auto;
	padding: 3em 1em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 0.5rem 0;
	color: rgb(var(--black));
	line-height: 1.2;
}
h1 {
	font-size: 2.5em;
}
h2 {
	font-size: 2.441em;
}
h3 {
	font-size: 1.953em;
}
h4 {
	font-size: 1.563em;
}
h5 {
	font-size: 1.25em;
}
strong,
b {
	font-weight: 700;
}
a {
	color: var(--accent);
}
a:hover {
	color: var(--accent);
}
p {
	margin-bottom: 1em;
}
.prose p {
	margin-bottom: 2em;
}
textarea {
	width: 100%;
	font-size: 16px;
}
input {
	font-size: 16px;
}
table {
	width: 100%;
}
img {
	max-width: 100%;
	height: auto;
	border-radius: 8px;
}
code {
	padding: 2px 5px;
	background-color: rgb(var(--gray-light));
	border-radius: 2px;
}
pre {
	padding: 1.5em;
	border-radius: 8px;
}
pre > code {
	all: unset;
}
blockquote {
	border-left: 4px solid var(--accent);
	padding: 0 0 0 20px;
	margin: 0px;
	font-size: 1.333em;
}
hr {
	border: none;
	border-top: 1px solid rgb(var(--gray-light));
}
@media (max-width: 720px) {
	body {
		font-size: 18px;
	}
	main {
		padding: 1em;
	}
}

.sr-only {
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	/* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
	clip: rect(1px 1px 1px 1px);
	/* maybe deprecated but we need to support legacy browsers */
	clip: rect(1px, 1px, 1px, 1px);
	/* modern browsers, clip-path works inwards from each corner */
	clip-path: inset(50%);
	/* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
	white-space: nowrap;
}
